
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    direction: rtl;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    color: blue;
    font-size: 2em;
    text-shadow: 13px 13px 50px green;
}

#sum {
    color: red;
    text-shadow: 13px 13px 50px yellow;
}

#idiot {
    font-size: 10em
}

#average {
    color: #9400D3;
    text-shadow: 13px 13px 50px #1E90FF;
}